# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=8.0.0, <9.0.0
sphinx-jinja2-compat>=0.4.1
sphinx-toolbox>=4.3.0
# sphinx_rtd_theme
pycparser~=2.22
enum_tools
cryptography~=50.0.0
websockets~=16.0.0